<launch>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
    <param name="scale_angular" value="1.5"/>
    <param name="scale_linear" value="0.5"/>
    <param name="axis_deadman" value="10"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="teleop_twist_joy/cmd_vel" to="/raw_cmd_vel"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick">
    <param name="dev" value="/dev/input/js1" />
  </node>

</launch>
